.posts {
    width: 90vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1899px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1900px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}