@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lemon&display=swap');

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10vh;
    background: url("../../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-around;
    -webkit-box-shadow: 0vh 1.4vh 1.5vh 0.5vh #ffffff; 
    box-shadow: 0vh 1.4vh 1.5vh 0.5vh #ffffff;
}

.header > .logo-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
}

.header > .logo-container > img {
    width: 3vw;
    height: 3vw;
}

.header > .logo-container > h3 {
    font-size: 4vh;
    padding-left: 2.4vh;
    margin: auto 0;
    font-family: 'Lemon', cursive;
    letter-spacing: 0.1vh;
}

.header > a {
    font-size: 3.5vh;
    font-family: 'IM Fell English', serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
}

.header > a > h3 {
    color: white;
    font-size: 3vh;
    margin: auto 0;
}