@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Capriola&family=Lobster&display=swap');

:root {
    --base-width: 30vw;
}

.post {
    width: var(--base-width);
    height: fit-content;
    border: 1px solid lightgray;
    margin: 4vh auto;
    background: white;
}

.post-img-container {
    text-align: center;
}

.post-img {
    width: var(--base-width);
    object-fit: contain;
    position: relative;
}

.post-text {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.post-text > p {
    font-size: 2.5vh;
    font-weight: 200;
    margin: auto 1vh;
    font-family: 'Capriola', sans-serif;
}

.post-text > h5 {
    font-size: 2.5vh;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.06vh;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.post-header > h2 {
    font-size: 3vh;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.1vh;
}

.post-avatar {
    margin-right: 1vw;
}

.post > .tools {
    display: flex;
    flex-direction: row;
    border-top: 0.1vh solid rgb(138, 138, 138);
}

.post > .tools > button {
    width: 18vh;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    background: transparent;
    border: 0.1vh solid rgb(217, 217, 217);
}

.post > .tools > button > img {
    max-width: 10vh;
    max-height: 10vh;
}

.post > .tools > button > p {
    font-size: 2vh;
    font-family: 'Lobster', cursive;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .post {
        --base-width: 70vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .post {
        --base-width: 40vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1899px) {
    .post {
        --base-width: 27vw;
    }
}

@media screen and (min-width: 1900px) {
    .post {
        --base-width: 16vw;
    }
}