.post {
    width: 30vw;
    height: fit-content;
    border: 1px solid lightgray;
    margin: 4vh auto;
}

.post-img-container {
    text-align: center;
}

.post-img {
    width: 30vw;
    object-fit: contain;
    position: relative;
}

.post-text {
    font-weight: 400;
    padding: 10px 10px;
    margin: 0;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.post-avatar {
    margin-right: 1vw;
}